*{
    margin:0;
    padding: 0;
    border: 0;
    font-size: 25px;
    color: red;
}
body{
    height: 95vh;
}
#turno{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 100px;
    top:20px;
}
#container{
    margin: 0 auto;
    margin-top: 15px;
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 640px;
    width: 640px;
    border: 1px solid black;
}
.possible{
    border: 5px solid green;
}
.odd{
    background-color: black;
}
.black.pawn{
    background: url(bpawn.png);
}
.black.pawn.odd{
    background: url(bopawn.png);
}
.white.pawn{
    background: url(wpawn.png);
}
.white.pawn.odd{
    background: url(wopawn.png);
}
.black.tower{
    background: url(btwr.png);
}
.black.tower.odd{
    background: url(botwr.png);
}
.white.tower{
    background: url(wtwr.png);
}
.white.tower.odd{
    background: url(wotwr.png);
}
.black.bishop{
    background: url(bbishop.png);
}
.black.bishop.odd{
    background: url(bobishop.png);
}
.white.bishop{
    background: url(wbishop.png);
}
.white.bishop.odd{
    background: url(wobishop.png);
}
.black.horse{
    background: url(bhorse.png);
}
.black.horse.odd{
    background: url(bohorse.png);
}
.white.horse{
    background: url(whorse.png);
}
.white.horse.odd{
    background: url(wohorse.png);
}
.black.queen{
    background: url(bqueen.png);
}
.black.queen.odd{
    background: url(boqueen.png);
}
.white.queen{
    background: url(wqueen.png);
}
.white.queen.odd{
    background: url(woqueen.png);
}
.black.king{
    background: url(bking.png);
}
.black.king.odd{
    background: url(boking.png);
}
.white.king{
    background: url(wking.png);
}
.white.king.odd{
    background: url(woking.png);
}
#selected,#target{
    border:3px solid red;
}
