*{
    margin:0;
    padding: 0;
    border: 0;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
}
/* h3{
    display: inline-block;
} */
#infos{
    flex-basis: 200px;
    border: 1px solid black;
    border-right: none;
    text-align: center;
    padding-top: 10px;
}
#container{
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 640px;
    width: 640px;
    border: 1px solid black;
}
.odd{
    background-color: black;
}
.black.pawn{
    background: url(wopawn.png);
    filter: invert(100%);
    transform: rotate(180deg);
}
.black.pawn.odd{
    background: url(wpawn.png);
    filter: invert(100%);
    transform: rotate(180deg);
}
.white.pawn{
    background: url(wpawn.png);
}
.white.pawn.odd{
    background: url(wopawn.png);
}
.black.tower{
    background: url(wotwr.png);
    filter: invert(100%);
    transform: rotate(180deg);
}
.black.tower.odd{
    background: url(wtwr.png);
    filter: invert(100%);
    transform: rotate(180deg);
}
.white.tower{
    background: url(wtwr.png);
}
.white.tower.odd{
    background: url(wotwr.png);
}
.black.bishop{
    background: url(wobishop.png);
    filter: invert(100%);
    transform: rotate(180deg);
}
.black.bishop.odd{
    background: url(wbishop.png);
    filter: invert(100%);
    transform: rotate(180deg);
}
.white.bishop{
    background: url(wbishop.png);
}
.white.bishop.odd{
    background: url(wobishop.png);
}
.black.horse{
    background: url(wohorse.png);
    filter: invert(100%);
    transform: rotate(180deg);
}
.black.horse.odd{
    background: url(whorse.png);
    filter: invert(100%);
    transform: rotate(180deg);
}
.white.horse{
    background: url(whorse.png);
}
.white.horse.odd{
    background: url(wohorse.png);
}
.black.queen{
    background: url(woqueen.png);
    filter: invert(100%);
    transform: rotate(180deg);
}
.black.queen.odd{
    background: url(wqueen.png);
    filter: invert(100%);
    transform: rotate(180deg);
}
.white.queen{
    background: url(wqueen.png);
}
.white.queen.odd{
    background: url(woqueen.png);
}
.black.king{
    background: url(woking.png);
    filter: invert(100%);
    transform: rotate(180deg);
}
.black.king.odd{
    background: url(wking.png);
    filter: invert(100%);
    transform: rotate(180deg);
}
.white.king{
    background: url(wking.png);
}
.white.king.odd{
    background: url(woking.png);
}
.possibleMove{
    border: 5px solid green;
}
#pieceToMove{
    border: 5px solid grey;
}
